/* BOX-SIZING para calcular directamente todas las dimensiones de las cajas */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

/* RESETEO LIMITADO DE PROPIEDADES */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
    
}

/* Estilo para las fuentes en toda la página */
body {
  color: #121867;
  font-family: "Lato", sans-serif;
  font-weight: bolder;
}

/* Establecemos el centrado y las dimensiones de los elementos principales */
nav,.container,footer {
  max-width: 1200px;
  min-width: 576px;
  margin:0px auto;
}



/* Estilos para el menú principal */
nav {
  background-color: #121867;
  color: rgb(243, 55, 132);
  font-size: 1.4;
  padding: 10px;
  position: -webkit-sticky;
  position: sticky;
  overflow-y: auto;
  top: 0px;
  z-index: 100;
}

nav div {
  float: left;
  margin-left: 20px;
  padding: 5px;
}

/* Estilos para la cabecera */
header {
  position: relative;
  text-align: center;
}

/* Fondo de la cabecera */
header img {
  opacity: 0.7;
  width: 100%;
}


/* Call for action para Comprar */
aside {
  background-color: #121867;
  border-radius: 20px;
  color: rgb(243, 55, 132);
  padding: 10px;
  position: absolute;
  right: 75%;
  text-align: center;
  top: 30%;
  width: 20%;
  float: left; width: 200px;
}

aside a {
  background-color: rgb(243, 55, 132);
  border-radius: 10px;
  color: white;
  margin-top: 40px;
  padding: 10px;
  text-decoration: none;
}

aside h3 {
  margin: 20px 0px;
}

/* Elemento principal con las 3 cards */
main {
  margin: 0px auto;
  width: 80%;
}
main h1 {
  text-align: center;
}

/* Línea separados de elementos */
main h1::after,
main:after {
  background-color: rgb(243, 55, 132);
  display: block;
  content: " ";
  height: 2px;
  width: 85%;
  margin: 0px auto;
  margin-top: 30px;
}

/* Estilos para la zona de las cards */
.cards {
  overflow-y: auto;
}
.cards .card {
  float: left;
  padding: 20px;
  text-align: center;
  width: 40%;
  
  margin-left: 50px;
}

.cards .card img {
  width: 80%;
}


section.bottle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
}

section.bottle img {
  width: 150px; /* Ajusta el tamaño de las imágenes */
  height: auto;
}

section.bottle div {
  max-width: 600px;
  padding: 0 20px;
  text-align: center;
}


/* Mostrarmos la primera letra con un borde diferente */
.bottle div::first-letter {
  border-right: 1px solid #121867;
  border-bottom: 1px solid #121867;
  color: rgb(243, 55, 132);
  font-size: 2em;
  font-weight: bolder;
  margin-right: 10px;
  padding-right: 10px;
}


/* Estilos para la galería de imágenes */
.gallery {
  clear: both;
  margin: 20px auto;
  overflow-y: auto;
  width: 70%;
  margin-left: 250px;
}
.gallery img {
  float: left;
  width: 20%;
}


/* Estilos para el pie de página */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #121867;
}

footer address {
  font-style: normal;
  color: rgb(243, 55, 132);;
}

footer .social {
  text-align: right;
  color: rgb(243, 55, 132);;
}

footer .social img {
  margin-left: 10px;
  width: 70px; /* Ajusta el tamaño de las imágenes según lo necesario */
  height: auto;
}



.sidebar {
  background-color: #121867; 
  padding: 20px;
  text-align: center;
  position: fixed;
  
  margin-top: 200px;
  margin-bottom: 100  0px;
margin-left: 10px;
  width: 120px;
  border-radius: 10px;
   
}


.profile-picture img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 20px;
  

}

.welcome-text p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: rgb(243, 55, 132);
}

.welcome-text ul {
  list-style-type: none;
  padding: 0;

}

.welcome-text li {
  margin: 10px 0;
}

.welcome-text a {
  text-decoration: none;
  color: rgb(243, 55, 132);
  font-size: 14px;
  font-weight: bold;
}

.welcome-text a:hover {
  color: #007bff;
}
.welcome-text nav{
  background-color: none;
  
}
