body {
    min-height: 100vh; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin: 0;
    background-color: #020710; 
    font-family: Sora, sans-serif; 
}

.container {
    margin: 20px auto;
    width: 100%;
  }

header{
    display: flex;
    background-color: #fff;
    color: #000000;
    font-family: Sora, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
   
}
header img{
    width: 200px;
}
nav {
    display: block;
    unicode-bidi: isolate;
    margin-right: 80px;
}
.logo {
    max-width: 150px;
    padding: 0%;
}
.logo img{
    margin-right: 10px;
    border-radius: 4px;
}

.menu {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    justify-content: space-between;
    margin-top:0px;
    flex-wrap: wrap;
}
    
.menu li {
    list-style: none;
}
.menu ul{
    display: flex;
    flex-direction:row;
    gap: 30px;
    
    
}

.menu li {
    font-size: 18px;
}

main{
    color: #fff;
.first_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 40px;
    margin: 20px auto;
    max-width: 2000px;
    background-color: #000527 ;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-text {
    flex: 2;
    text-align: left;
    font-size: 25px;
    max-width: 600px;
    align-items: center;
    padding: 100px;
}
.info-text h2{
    padding-bottom: 100px;
}

.info-img {
    flex: 1;
    max-width: 900px;
    min-width: 400px;
    align-items: center;
}

.info-img img {
    width: 100%;
    height: auto;
}
}
.fotos{
    margin-top: 70px;
    margin-bottom: 100px;

}
.fotos h1{
    justify-content: center;
    text-align: center;
}

.photo-grid {

   
    width: 100%;
    max-width: 2200px;
    min-width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}

.photo-grid img {
    min-width:125px;
    max-width: 450px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}


.registro-container {
    background-color: #ffffff;
    padding: 60px;
    border-radius: 8px;
    color: #000000;
    width: 600px;
    margin-left: 30%;
    margin-bottom: 100px;
    margin-top: 130px;
    
}
.registro-container img{
    width: 80%;
    margin-bottom: -30px;
    margin-top: -60px;
    margin-left: 10%;
}
.registro-container label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
}
.registro-container input {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #222;
    color: #fff;
    justify-content: center;
    font-size: 20px;
    
}
.registro-container button {
    width: 94%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    margin-top: 10px;
}
.registro-container button:hover {
    background-color: #45a049;
} 
    
.pie {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;

    width: 100%;
    height: auto; /*Elimina la altura fija*/
    bottom: 0;
    display: flex;
    justify-content: center; /*Sirve para hacer que los textos de un div vayan al centro*/
    align-items: center;
    border-top-right-radius: 50px;
    border-top-left-radius: 30px;
  }
  .pie h1 {
    font-size: 18px; 
    color: rgb(0, 0, 0);
    margin-right: 20px; 
  }
  
  .social img {
    width: 40px; 
    height: auto;
    margin: 0 10px;
  }
  
  .social a {
    text-decoration: none;
  }

