body {
    min-height: 100vh;
    background-color: #020710;
    font-family: Montserrat, sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Sora, sans-serif;
}



header{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #000000;
    font-family: Sora, sans-serif;
    font-size: 2rem;
    font-weight: 300;
    justify-content: space-between; 
}
nav {
    display: block;
    unicode-bidi: isolate;
}
.logo {
    max-width: 150px;
    padding: 0%;
}
.logo img{
    margin-right: 10px;
    border-radius: 4px;
}

.menu {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    gap: 20px;
    justify-content: space-between;
    margin-top:0px;
}
    
.menu li {
    list-style: none;
}
.menu ul{
    display: flex;
    flex-direction:row;
    gap: 30px;
    
    
}

.menu li {
    font-size: 18px;
}

main{
    color: #fff;
.first_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 40px;
    margin: 20px auto;
    max-width: 1000px;
    background-color: #000527 ;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.info-text {
    flex: 2;
    text-align: left;
    font-size: 25px;
   
     width: 200px;
     align-items: center;
}

.info-img {
    flex: 1;
    max-width: 900px;
    min-width: 400px;
    align-items: center;
}

.info-img img {
    width: 100%;
    height: auto;
}
}