
            body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(34, 33, 32);
}

.cabe {
    text-align: center; /* Centra el texto del header */
    background-color: #0d4bd1; /* Fondo verde */
    padding:10px; /* Espaciado */
    color: white;
     /*Define el radio de cada borde para que quede redondo*/
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 30px;
    height:110px;
    width: auto;
}
.cabe h1{
    margin-top: 1px;
}

.menu {
    display: flex; /* Usar flexbox para el menú */
    justify-content: center; /* Centra los elementos horizontalmente */
    padding: 10px 0; /* Espaciado superior e inferior */
}

.menu ul {
    list-style-type: none; /* Quitamos las viñetas de la lista */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margin */
}

.menu li {
    margin-right: 20px; /* Espaciado entre ítems del menú */
    display: inline;
}

.menu a {
    text-decoration: none; /* Sin subrayado */
    color: white; /* Color del texto */
}

.menu a:hover {
    text-decoration: underline; /* Subrayar al pasar el ratón */
}
.pie {
  background-color: #0057d8;
  padding: 20px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: auto; /*Elimina la altura fija*/
  bottom: 0;
  display: flex;
  justify-content: center; /*Sirve para hacer que los textos de un div vayan al centro*/
  align-items: center;
  border-top-right-radius: 50px;
  border-top-left-radius: 30px;
}
.pie h1 {
  font-size: 18px; /* Ajusta el tamaño del texto */
  color: white; /* Color del texto */
  margin-right: 20px; /* Espaciado a la derecha del texto */
}

.social img {
  width: 40px; /* Ajusta el tamaño de las imágenes aquí */
  height: auto;
  margin: 0 10px;
}

.social a {
  text-decoration: none;
}


